<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<div class="navbar">
    <div><strong>NAIL DISEASE DETECTION</strong></div>
    <div>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/nailhome">Nail</a>
    </div>
</div>

<div class="container">
    <h2>About This Project</h2>
    <p>
        This project uses VGG16 deep learning model to detect early nail diseases.
        It helps in fast and automated diagnosis.
    </p>
</div>

<div class="footer">
    © 2026 Nail Disease Detection Project
</div>

</body>
</html>
