<!DOCTYPE html>
<html>
<head>
    <title>Prediction Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<div class="navbar">
    <div><strong>NAIL DISEASE PREDICTION</strong></div>
    <div>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </div>
</div>

<div class="container">
    <h2>Prediction Result</h2>
    
    {% if prediction_text %}
        <h3>The Person is diagnosed with:</h3>
        <h2 style="color:#1f7a63">{{ prediction_text }}</h2>
    {% endif %}
    
    <br>
    <a href="/nailhome">
        <button class="btn">Predict Another</button>
    </a>
</div>

<div class="footer">
    © 2026 Nail Disease Detection Project
</div>

</body>
</html>

